@using Newtonsoft.Json
@{
    if (ViewData["roleName"] == null)
    {
        Layout = "_UserLayout";
    }
    else
    {
        switch (ViewData["roleName"].ToString().ToLower())
        {
            case "администратор":
                {
                    Layout = "_AdminLayout";
                    break;
                }

            case "управляющий":
                {
                    Layout = "_ManagerLayout";
                    break;
                }

            default:
                {
                    Layout = "_UserLayout";
                    break;
                }
        }
    }
}

<script type="text/javascript">
    window.login = @Html.Raw(JsonConvert.SerializeObject(ViewData["login"]));
</script>

@section Scripts {
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/RegManagers.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/setlogin.js"></script>
}


<!DOCTYPE html>

<html>
<head>
    <title>Регистрация</title>
    <link href="/css/Forms.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <div class="tab" role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li id="reg" role="presentation" class="active"><a href="#Section" aria-controls="manager" role="tab" data-toggle="tab">Зарегистрировать</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content tabs">
                            <div role="tabpanel" class="tab-pane fade in active" id="Section">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputName1">Имя</label>
                                        <input type="text" class="form-control" id="inputName1">
                                        <p id="reInputInfo4"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputLogin1">Логин</label>
                                        <input type="text" class="form-control" id="inputLogin1">
                                        <p id="reInputInfo3"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword1">Пароль</label>
                                        <input type="password" class="form-control" id="inputPassword1">
                                        <p id="reInputInfo2"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="reinputPassword1">Повторите пароль</label>
                                        <input type="password" class="form-control" id="reinputPassword1">
                                        <p id="reInputInfo"></p>
                                    </div>
                                    <div class="form-group">
                                        <button id="regButton" type="submit" class="btn btn-default">Зарегистрировать</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-md-offset-3 col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
</body>
</html>